cvargparse~=0.5
cvdatasets~=0.12
cvfinetune~=0.11
cvmodelz~=0.3
cluster_parts>=0.4.1,<1.0.0
fve_layer~=0.1.0
setuptools==59.8.0


chainer~=7.8
chainercv~=0.13
chainercv2
# cupy version 7.8.0.post1
-e git+https://github.com/cupy/cupy.git@3e3635d802eda54a4b8c96d0126c646e97c3d239#egg=cupy

sacred~=0.8
scipy~=1.4
scikit-learn~=0.22
scikit-image~=0.16
opencv-python-headless~=4.5
tqdm
tabulate
